html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }

html, body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#sidebar {
    height: 100vh;
    width: 15vw;
    background-color: #212121;
    float: left;    
    margin-right: 1em;
    flex-direction: column;
}

#main {
    flex-direction: column;
}

#searchBar {   
    margin-top: 1em;
    padding: 0;
}

i {
    float: left;
    padding: 10px;
    cursor: pointer;
    background-color: white;
    margin: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: grey;
}

input {   
    width: 30vw;
    padding: 0.5em;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

input[type=text] {
    font-size: 1em;
    opacity: 0.75;
    outline : none;
}

h1 {
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 41px;
    color:#212121;
    margin-top: 0.35em;
}

#chartdiv {
    width: 80vw;
    height:70vh;
    min-height: 50vh;
    margin-top: 0.35em;
    /* border: 2px dotted red; */
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
  }

@media screen and (max-device-width: 800px) {
    #chartdiv {
        height:30vh;
    }
}

@media screen and (max-device-width: 500px) {
    #chartdiv {
        height:1vh;
    }
}